<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="assets/stylesheets/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css"
        integrity="sha256-vK3UTo/8wHbaUn+dTQD0X6dzidqc5l7gczvH+Bnowwk=" crossorigin="anonymous" />
</head>

<body>
    <div class="tray">
        <div class="control-panel">
            {{ if .mutualSelectionMode }}
            <span>相互選択モード</span>
            {{ else }}
            <span>ユーザ選択モード</span>
            {{ end }}
            <a href="/switch" class="button is-primary is-large">Switch system</a>
            <a href="/reset" class="button is-danger is-large">Reset</a>
        </div>
        <img src="assets/images/robot.png" width="300px" class="front-image" />
        <div class="performances">
            <div class="columns">
                <div class="column is-three-quarters performances-players">
                    <p>ロボットの作業成功率:</p>
                    <p>あなたの作業成功率:</p>
                </div>
                <div class="column performances-rates">
                    <p>??%</p>
                    <p>{{ .humanSuccessRate }}%</p>
                </div>
            </div>
        </div>
        {{ if eq .robotsSelection -1 }}
        <p class="question">
            Q: ロボットに操作を任せますか？
        </p>
        <form action="/execute" method="post">
            <div class="columns">
                <div class="column">
                    <input type="submit" name="isRobotPlay" value="Yes" class="choice button is-large is-fullwidth" />
                </div>
                <div class="column">
                    <input type="submit" name="isRobotPlay" value="No" class="choice button is-large is-fullwidth" />
                </div>
            </div>
        </form>
        {{ else }}
        <p class="text-large">
            ロボットによる選択がなされました:
        </p>
        {{ if eq .robotsSelection 1 }}
        <p class="text-xxlarge">
            次回操作の担当は ロボット です
        </p>
        <form action="/execute" method="post">
            <input type="hidden" name="isRobotPlay" value="Yes" />
            <input type="submit" value="OK" class="choice button is-large is-fullwidth" />
        </form>
        {{ else }}
        <p class="text-xxlarge">
            次回操作の担当は あなた です
        </p>
        <form action="/execute" method="post">
            <input type="hidden" name="isRobotPlay" value="No" />
            <input type="submit" value="OK" class="choice button is-large is-fullwidth" />
        </form>
        {{ end }}
        {{ end }}
    </div>
</body>

</html>